<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form onsubmit="getToken(event)" method="post">
            <label>
                <span>username</span>
                <input type="text" name="username" id="username">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" id="password">
            </label>
            <input type="submit" value="Login">
        </form>
        <div id="doc"></div>
    </div>
    <script>
        function getToken(e) {
            alert()
            e.preventDefault();
            let set = document.querySelector('#doc');
            set.innerHTML = "hello";
        }
    </script>
</body>
</html>