<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
    <title>Login / signup</title>
</head>
<body onload="init()">
    <div class="container">
        <h1>Sign up</h1>
        <form onsubmit="getToken(event)" method="post">
            <label>
                <span>username</span>
                <input type="text" name="username" id="username">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" id="password">
            </label>
            <input type="submit" value="signup">
        </form>
        <hr>
        <h1>Login</h1>
        <form onsubmit="login(event)" method="post">
            <label>
                <span>username</span>
                <input type="text" name="username" id="username">
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="password" id="password">
            </label>
            <input type="submit" value="login">
        </form>
        <hr>
        <button onclick="getPosts()">getPosts</button>
        <button onclick="refreshToken()">refreshToken</button>
        <button onclick="logout()">logout</button>
        <pre id="doc"></pre>
    </div>
    <script>
        var accessToken
        var createdAt
        function getToken(e) {
            e.preventDefault();
            let obj = getFormValues(e)
            axios.defaults.headers.common['Authorization'] = "";
            axios.post('/signup', obj)
                .then(res => {
                    let set = select('#doc');
                    set.innerHTML = syntaxHighlight(JSON.stringify(res.data, undefined, 6));
                    axios.defaults.headers.common['Authorization'] = "Bearer " + res.data.accessToken;
                    localStorage.setItem("accessToken", res.data.accessToken);
                    localStorage.setItem("createdAt", Date.now());
                    createdAt = localStorage.getItem('createdAt');
                    setTimer(createdAt);
                })
        }

        function getPosts() {
            axios.get('/posts')
                .then(res => {
                    let set = select('#doc');
                    set.innerHTML = JSON.stringify(res.data);
                }).catch( err => {
                    let set = select('#doc');
                    set.innerHTML = err;
                })
        }
        function refreshToken() {
            axios.get('/token')
                .then( res => {
                    // let set = select('#doc');
                    // set.innerHTML = JSON.stringify(res.data);
                    axios.defaults.headers.common['Authorization'] = "Bearer " + res.data.accessToken;
                    localStorage.setItem("accessToken", res.data.accessToken);
                    localStorage.setItem("createdAt", Date.now());
                    createdAt = localStorage.getItem('createdAt');
                    setTimer(createdAt);
                }).catch( err => {
                    let set = select('#doc');
                    set.innerHTML = err;
                })
        }
        function logout() {
            axios.delete('/logout')
                .then( res => {
                    let set = select('#doc');
                    set.innerHTML = JSON.stringify(res.data);
                    localStorage.removeItem("accessToken");
                    accessToken = "";
                    axios.defaults.headers.common['Authorization'] = "";
                }).catch( err => {
                    let set = select('#doc');
                    set.innerHTML = err;
                })
        }

        function login(e) {
            e.preventDefault();
            let obj = getFormValues(e)
            axios.post('/login', obj)
                .then(res => {
                    let set = select('#doc');
                    set.innerHTML = syntaxHighlight(JSON.stringify(res, undefined, 6));
                    axios.defaults.headers.common['Authorization'] = "Bearer " + res.data.accessToken;
                    localStorage.setItem("accessToken", res.data.accessToken);
                    localStorage.setItem("createdAt", Date.now());
                    createdAt = localStorage.getItem('createdAt');
                    setTimer(createdAt);
                })
        }

        function init() {
           if (localStorage.getItem('accessToken')) {
                accessToken = localStorage.getItem('accessToken');
                createdAt = localStorage.getItem('createdAt');
                axios.defaults.headers.common['Authorization'] = "Bearer " + accessToken;
                setTimer(createdAt);
            }
        }

        function setTimer(createdAt) {
            passedMinutes = (((Date.now() - createdAt)/1000));
            if(passedMinutes > 21)
                refreshToken();
            else
                setTimeout(() => {
                    refreshToken();
                }, Math.abs(21 - passedMinutes)*1000);
                
        }








        // json syntax highlight
        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        // to select an element
        function select(ele) {
            return document.querySelector(ele);
        }
        // to get form values as key-value pair object
        function getFormValues(e) {
            let elements = e.target.elements;
            let elementListObject = {};
            for(element of elements) {
                elementListObject[element.name] = element.value;
                if(element.type != "submit")
                    element.value = "";
            }
            return elementListObject
        }
    </script>
</body>
</html>